<header class="container-fluid navbar navbar-expand-sm navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">TGM-Schulplaner</a>
  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <!-- Suchleiste -->
      <li *ngIf="false">
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2"
                   type="text"
                   placeholder="Suchen"
                   aria-label="Search">
          </div>
        </form>
      </li>
      <!-- User Icon -->
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a id="user" class="nav-link" ngbDropdownToggle>
          <ng-template #login>Login&nbsp;</ng-template>
          <span *ngIf="user else login">{{ user.name }}&nbsp;</span>
          <fa-icon [icon]="userIcon" size="lg"></fa-icon>
        </a>
        <app-login *ngIf="!user" ngbDropdownMenu></app-login>
        <div *ngIf="user" ngbDropdownMenu>
          <a ngbDropdownItem routerLink="view">Benutzer Ansicht</a>
          <a ngbDropdownItem routerLink="settings">Einstellungen</a>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</header>
