<nav class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         data-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        Kalender
      </a>
      <div class="dropdown-menu">
        <a *ngFor="let calendar of calendars"
           class="dropdown-item"
           (click)="setActiveCalendar(calendar)">
          {{ calendar.name }}
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         data-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        Todo
      </a>
      <div class="dropdown-menu">
        <a *ngFor="let todo of todos"
           class="dropdown-item"
           (click)="setActiveTodo(todo)">
          {{ todo.title }}
        </a>
      </div>
    </li>
  </ul>
</nav>
