input {
  position: relative;
  width: calc(100% - 1.6rem);
  border: none;
  padding: 0.375rem 0.75rem;
}

.spinner-container {
  float: right;
  line-height: .9rem;
  margin-top: .55rem;
  margin-right: .55rem;
}

.form-control {
  padding: 0;
}
